.blog-link {
  display: block; /* Ensure each link is on a new line */
  margin: 10px 0; /* Add vertical spacing between links */
  padding: 10px 15px; /* Add padding for a better clickable area */
  background-color: transparent; /* Make background transparent */
  border: none; /* Remove border */
  border-radius: 0; /* Remove rounded corners */
  text-decoration: none; /* Remove the underline */
  color: #f10707; /* Dark text color */
  transition: color 0.3s, transform 0.2s; /* Smooth transitions for hover effects */
  font-size: 16px; /* Optional: adjust font size for better readability */
}
button,
.newblog {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #000; /* Button color changed to black */
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

button:hover,
.back-link:hover {
  background-color: #333; /* Darker shade for hover effect */
}
